<div class="card lg:card-side bg-base-100 shadow-sm mb-10">
  <figure>
    <img [src]="planet().image" [alt]="planet().image" class="size-100" />
  </figure>
  <div class="card-body w-100">
    @for (prop of planetProperties(planet()); track prop.key) {
    <p class="card-title text-gray-400 font-bold">
      {{ prop.key | titlecase }} :
    </p>
    <p class="">{{ prop.value }} </p>
    }
    <div class="card-actions justify-end mt-10">
      <button class="btn btn-primary" (click)="openModal.set(true)">Characters</button>

      @if(openModal()){
      <app-planet-modal (close)="openModal.set($event)" [planetId]="planet().id"></app-planet-modal>
      }
    </div>
  </div>
</div>