<div class="mb-15 flex justify-center gap-4">
  <a class="btn btn-neutral" routerLink="characters">Characters</a>
  <button class="btn btn-primary" routerLink="planets">Planets</button>
  <!-- <button class="btn btn-secondary">Secondary</button>
  <button class="btn btn-accent">Accent</button>
  <button class="btn btn-info">Info</button>
  <button class="btn btn-success">Success</button>
  <button class="btn btn-warning">Warning</button>
  <button class="btn btn-error">Error</button> -->
</div>

<router-outlet></router-outlet>


