<div class="card bg-base-100 w-40 shadow-sm mb-15 cursor-pointer 
  sm:w-50 md:w-50 lg:w-50">

  <a [routerLink]="['../view',pokemonResource.value()?.name]">
    <figure>
      <img [src]="pokemonResource.value()?.sprites?.front_default" [alt]="pokemonResource.value()?.name"
        class="size-30" />
    </figure>
    <div class="card-body px-2">
      <h2 class="card-title justify-center">
        {{pokemonResource.value() | pokemonName | titlecase}}
      </h2>

      @for (type of pokemonResource.value()?.types; track $index) {
      <div class="card-actions justify-end">
        <div class="badge badge-outline" [ngClass]="type.type.name | pokemonTypeColor">{{type.type.name}}</div>
      </div>
      }
    </div>
  </a>

  @if(pokemonResource.value()?.cries?.latest){
  <button (click)="playCry(pokemonResource.value()?.cries?.latest)" class="flex items-center gap-2 px-4 py-2 rounded-xl
         bg-indigo-600 text-white font-semibold
         hover:bg-indigo-700 active:scale-95
         transition-all shadow-md">
    🔊 Play Cry
  </button>
  }


</div>